@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background: #f8f8ff;
  --foreground: #171717;
}

html {
  height: 100%;
}

html,
body {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  max-height: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100vh;
  max-height: fit-content;
  height: auto;
  position: relative;
  padding-bottom: 140px;

  .loadingWrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    font-weight: 700;
    margin-top: 40px;

    img {
      animation: spin 8s linear infinite;
      border-radius: 20px;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  background: #020e3f;
  padding: 0 20px;
  height: 120px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1340px;
  color: #fff;

  @media only screen and (max-width: 950px) {
    height: fit-content;
    flex-direction: column;
    padding: 0 0 20px 0;
    bottom: -250px;
  }

  .linkWrapper {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (max-width: 950px) {
      text-align: center;
      flex-direction: column;
    }
  }

  .copy {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 20px;

  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    button {
      background: #000;
      color: yellow;
      border: none;
      border-radius: 10px;
      padding: 6px 12px;
      cursor: pointer;
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 8px;

      &.text {
        background: transparent;
        color: #000;
        border: none;
        font-size: 15px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .linksWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
